body{
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: #f9f9f9;
}
h2{
    margin-bottom: 10px;
}
#searchBox{
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.count{
    margin: 10px 0;
    font-weight: bold;
}

.highlight{
    background: yellow;
    font-weight: bold;
}
.post{
    padding: 12px;
    margin-bottom: 12px;
    background:white ;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.1);
}